h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: blue;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: black;
}

#sobre{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(4, 24, 243);
}

.titulosh1{
    color: olivedrab;
}
